.content-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;

  & > h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }
}
.grid-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.card {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  backdrop-filter: blur(0.5rem);
  color: black;
  min-width: 260px;
}
.logo-card {
  width: 4.5rem;
}
.card-info {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-content {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.head-text {
  font-size: 1rem;
  font-weight: bold;
}
.sub-text {
  font-size: 0.8rem;
  color: rgb(48, 48, 48);
}

@media (min-width: 2000px) {
  .grid-content {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1480px) {
  .grid-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1000px) {
  .grid-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .grid-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
