.contener-content {
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  & > .form-style {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: white;
    border-radius: 1rem;
    padding: 3rem 2rem;
    gap: 1rem;
    width: 80%;
    max-width: 480px;
    & > .form-regis {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 1rem;
      padding: 1rem 0rem;
      width: 100%;
    }
  }
  & h1 {
    color: black;
    font-size: 2rem;
    font-weight: bold;
  }
}
.row-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 1;
}
.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1.125rem;
  flex: 1;
  width: 100%;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}
.form-radio-group {
  padding: 10px 0;
  border-radius: 4px;
  flex: 1;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}
.form-radio {
  margin: 0 0.5rem 0 0;
}
.form-radio-label {
  width: 100%;
  margin-right: 20px;
}
.button-style {
  padding: 0.8rem 2rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.delete {
  margin-top: 1rem;
  background-color: #dc3545;
  width: 100%;
}
@media (max-width: 914px) {
  .contener-content {
    & > .form-style {
      margin: 1rem 0rem;
    }
  }
}
@media (max-width: 486px) {
  .contener-content {
    width: 100%;
  }
  .form-style {
    width: 100%;
    padding: 1.5rem 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }
  .form-content {
    width: 100%;
  }

  .form-label {
    font-size: 1rem;
  }

  .form-input {
    padding: 8px;
  }

  .button-style {
    width: 100%;
    padding: 0.75rem;
    font-size: 0.875rem;
  }

  .row-form {
    flex-direction: column;
  }
}
